<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Melvin <span class="text-primary">Hong</span></h1>
        <div class="subheading mb-5">
          <i class="fa fa-phone"></i> +(61) 423 900 109
          <br>
          <a href="mailto:name@email.com"><i class="fa fa-envelope"></i> melvin1hong@gmail.com</a></div>
        <p class="lead mb-5">I am a motivated fresh graduate which is looking to gain more experience and insights of the IT world with the communication skills and knowledge I have gained throughout my minimal years of experience.  </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.facebook.com/meeeelviiiin" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a class="social-icon" href="https://www.linkedin.com/in/melvin-hong-008b99187/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="social-icon" href="https://github.com/s3511887" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
