<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Melvin <span class="text-primary">Hong</span></h1>
        <div class="subheading mb-5">
          <i class="fa fa-phone"></i> +(61) 423 900 109
          <br>
          <a href="mailto:name@email.com"><i class="fa fa-envelope"></i> melvin1hong@gmail.com</a>
          <br>
          <i class="fa fa-home" aria-hidden="true"></i> Melbourne, Australia
        </div>

          <p class="lead mb-2">A graduated Information Technology student from RMIT University with interest in web development, database designs and business analysis. Enthusiastic in working with a team to thrive towards goals.</p>
          <p class="lead mb-2">Having a passion for Ruby on Rails, Laravel and Javascript, I am constantly pushing myself out of my comfort zone to challenge myself in new environments.</p>
          <p class="lead mb-5">While focusing on Agile methodologies for previous and current work projects, it has given me the flexibility and adaptability to respond to changing requirements. The usage of agile processes has taught me to engage myself in quality communication with team members throughout the software development life cycle.</p>

        <div class="social-icons">
            <a class="social-icon" href="https://www.facebook.com/meeeelviiiin" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a class="social-icon" href="https://www.linkedin.com/in/melvin-hong-008b99187/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="social-icon" href="https://github.com/melvinhong" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
