<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education  <i class="fa fa-graduation-cap" aria-hidden="true"></i></h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">RMIT University</h3>
                <div class="subheading mb-3">Bachelor of Information Technology</div>
                <p>Status: Graduated</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2018 - June 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Taylor's Lakeside University, Malaysia</h3>
                <div class="subheading mb-3">Bachelor of Computer Science</div>
                <p>Status: Furthered to RMIT University</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2015 - July 2017</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
