<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience <i class="fa fa-briefcase" aria-hidden="true"></i></h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Borneo Wealth Resources, Malaysia</div>
                <p>Working online building websites for clients in Malaysia for business platforms. Wordpress and similar CMSs were also used for some smaller projects.</p>
                <p>Projects are all done whilst finishing my studies in Melbourne.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2019 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Production Leader</h3>
                <div class="subheading mb-3">McDonald's St Kilda</div>
                <p>Managing kitchen crew members in the kitchen to maximize output whilst getting other tasks done in the most efficient manner by delegating tasks to other kitchen crews.</p>
                <p>Only worked part-time to expend my focus all into my studies.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2018 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Visoft Technologies, Malaysia</div>
                <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                <p>Unregrettably halted my career to further my education in RMIT University, Melbourne.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2017 - December 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Design Intern</h3>
                <div class="subheading mb-3">Visoft Technologies, Malaysia</div>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2016 - December 2016</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
