<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content text-justify">
        <h2 class="mb-5">Interests  <i class="fa fa-smile-o"></i></h2>
        <p>Apart from being a graduate looking to expand my knowledge in the IT world, I enjoy most of my time playing video games. And also the occasional outdoor activities during the warmer days here in Melbourne.</p>
        <p class="mb-0">When indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the web development world.</p>
    </div>
</section>
<hr class="m-0" />
