<!-- Portfolio-->
<section class="resume-section" id="portfolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Portfolio  <i class="fa fa-file-archive-o"></i></h2>

        <!-- row 1 -->
        <div class="row">
          <div class="col">
            <div class="content text-center p-2">
              <a href="https://rad-assignment-2020s1.herokuapp.com/" target="_blank"><img class="pb-2" src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%; max-height:270px"></a>
              <h4>News+ Forum</h4>
              <p>A forum discussion board for RMIT students built with Ruby on Rails.</p>
            </div>
          </div>
          <div class="col">
            <div class="content text-center p-2">
              <a href="https://rad2020-worldclock.herokuapp.com/ " target="_blank"><img class="pb-2" src="https://images.pexels.com/photos/280252/pexels-photo-280252.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%; max-height:270px"></a>
              <h4>Clock+</h4>
              <p>A world clock web application comparing different time zones to Melbourne.</p>
            </div>
          </div>

          <!-- row 2 -->
          <div class="row">
            <div class="col">
              <div class="content text-center p-2">
                <a href="https://qualvmarket.com/" target="_blank"><img class="pb-2" src="https://images.pexels.com/photos/35550/ipad-tablet-technology-touch.jpg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%; max-height:270px"></a>
                <h4>Qualv Market</h4>
                <p>E-commerce market built with shopify</p>
              </div>
            </div>
            <div class="col">
              <div class="content text-center p-2">
                <a href="https://reinforcements-of-the-monkey.myshopify.com/" target="_blank"><img class="pb-2" src="https://images.pexels.com/photos/1148215/pexels-photo-1148215.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%; max-height:270px"></a>
                <h4>Reinforcements of the Monkey</h4>
                <p>Web application for a bubble tea shop built with Shopify.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<hr class="m-0" />
