<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills <i class="fa fa-cogs" aria-hidden="true"></i></h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa fa-html5"></i></li>
            <li class="list-inline-item"><i class="fa fa-css3"></i></li>
            <li class="list-inline-item"><i class="fa fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fa fa-github"></i></li>
            <li class="list-inline-item"><i class="fa fa-font-awesome"></i></li>
        </ul>
        <ul class="fa-ul my-3">
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>HTML5
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>CSS
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>JavaScript
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>PHP
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>C#
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>C++
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>Java
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>Ruby
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>GitHub
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>Heroku
            </li>
            <li>
              <span class="fa-li"><i class="fa fa-check"></i></span>Heroku
            </li>
        </ul>
        <div class="subheading my-3">Frameworks and Development Cycles</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Ruby On Rails
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Laravel
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Agile Development & Scrum
            </li>
        </ul>
        <div class="subheading my-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>Agile Development & Scrum
            </li>
        </ul>
        <div class="subheading my-3">Websites Built</div>
        <ul class="fa-ul mb-0">
            <li>
              <a href="https://rad-assignment-2020s1.herokuapp.com" target="_blank">Ruby on Rails - News Forum</a>
            </li>
            <li>
              <a href="https://rad2020-worldclock.herokuapp.com" target="_blank">Ruby on Rails - World Clock</a>
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />
